node_modules/
repo_example/
screenshot.jpg
.env
package-lock.json
package.json
README.md
*.xlsx
*.jpg
*.png
__pycache__/
script_experiments/
assessment-input/
assessment-wip/
assessment-output/
.DS_Store
.venv